table#crs-fields td { overflow: hidden; }
table#crs-fields div.form-item { float: left; }

table.crs-exchangerate-table td { padding-left: 5px; padding-right: 10px; }

table.crs { width: auto; }
table.crs tbody { border-top: none; }